# Bash
test/
*_test.sh

# CoffeeScript
*.spec.coffee

# Exercism
.exercism/

# Go
go.mod
*_test.go

# Haskell
package.yaml
stack.yaml
*.lock
*.cabal
.stack-work/

# JavaScript
package-lock.json
node_modules/
package.json
.eslintrc
babel.config.js
*.spec.js

# PureScript
bower_components/
output/
bower.json
