# JavaScript
package-lock.json
node_modules/
package.json
.eslintrc
babel.config.js
*.spec.js

# Haskell
package.yaml
stack.yaml
*.lock
*.cabal
.stack-work/

# Bash
test/
*_test.sh

# PureScript
bower_components/
output/
bower.json

# Exercism
.exercism/
